{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<aside class="col-2 cat-aside ">
  <p class="fw-bold fs-4">Categorie <i class="bi bi-tags"></i></p>
  <p hidden id="js-active-category" >{{active_category}}</p>
  <a id="js-category-all" class="dropdown-item text-wrap" href="{{url_for('home_by_category', category='all')}}">Tutte le categorie</a>
  {% for cat in categorie %}
  <a id="js-category-{{cat.category}}" class="dropdown-item text-wrap" href="{{url_for('home_by_category', category=cat.category)}}">{{cat.category}}</a>
  {% endfor %}
</aside>


<main class=" col-7 show-list">
  {% for serie in serie %}
  <article class="show-container ">
    <div class="row">
      <div class="img-container col-4 d-flex justify-content-center">
        <img src="{{url_for('static', filename=serie.image)}}" alt="immagine di {{serie.title}}">
      </div>
      <div class="col-8 ">
        <a class="fs-3 fw-bold link-dark" href="{{url_for('show', show_id=serie.id)}}">{{serie.title}}</a>
        <p class="fs-5 fst-italic">di {{serie.creator_name}}</p>
        <a class="btn btn-success mt-3" href="{{url_for('show', show_id=serie.id)}}"><i class="bi bi-headphones"></i>
          Scopri di più</a>
      </div>
    </div>
    <div class="row show-description">
      <p class="mt-3">{{serie.description}}</p>
      <p class="fst-italic mt-3">Categoria: {{serie.category}}</p>
    </div>
  </article>
  {% endfor %}
</main>
<script src="{{url_for('static', filename='home.js')}}"></script>
{% endblock %}