{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}





<!--INIZIO CONTENUTO-->
<main class="profile-main">
  <div class="row">
    <aside class="left-aside col-2">
      <img src="{{url_for('static',filename='avatar.png')}}" alt="avatar">
      <div class="row">{{current_user.name}} {{current_user.surname}}</div>
      <div class="row">{{current_user.email}}</div>
      <div class="row">Ruolo: {{current_user.type}}</div>
      <p></p>
      {%if current_user.type=='creatore' %}
      <img src="{{url_for('static',filename='wrench.png')}}" alt="tools">
      <!--BOTTONE TRIGGER DEL MODALE PER NUOVA SERIE-->
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#new-show-modal">
        <i class="bi bi-plus-circle-dotted"></i>
        Nuova serie
      </button>
      {% endif %}
    </aside>

    <aside class="right-aside col-9">
      {% if current_user.type=='creatore' %}
      <h1>Le mie serie</h1>
      {% for serie in mie_serie %}
      <div class="container text-center">
        <div class="row">
          <div class="col-4">
            <a type="text" href="{{url_for('show',show_id=serie.id)}}">{{serie.title}}</a>
          </div>
          <div class="col-2">
            <a type="text" class="btn btn-outline-warning" href="{{url_for('show',show_id=serie.id)}}"><i
                class="bi bi-pencil-square"></i></a>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
              data-bs-target="#delete-show-modal" data-bs-showid="{{serie.id}}"><i class="bi bi-trash"></i></button>
          </div>
        </div>
      </div>
      {% endfor%}
      {%endif %}


      <h1>Serie seguite</h1>
      {% for serie in serie_seguite %}
      <div class="container text-center">
        <div class="row">
          <div class="col-4"><a type="text" href="{{url_for('show',show_id=serie.id)}}">{{serie.title}}</a></div>
          <div class="col-2">
            <a class="btn btn-outline-danger" href="{{url_for('unfollow_a_show', show_id=serie.id)}}">Smetti di
              seguire</a>
          </div>
        </div>
        {% endfor%}

      </div>
    </aside>
  </div>
</main>

<!--MODALE PER NUOVA SERIE-->
<div class="modal fade" id="new-show-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crea una nuova serie</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="new-show" enctype="multipart/form-data" method="post">
          <div class="mb-3">
            <label for="title" class="form-label">Titolo</label>
            <input type="text" required class="form-control" name="title" aria-describedby="Titolo della serie">
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Categoria</label>
            <input type="text" required class="form-control" name="category" aria-describedby="Categoria della serie">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descrizione</label>
            <textarea name="description" required class="form-control"
              aria-describedby="Descrizione della serie"></textarea>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Copertina</label>
            <input type="file" required class="form-control" name="image" aria-describedby="Immagine della serie">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-success">Crea la serie</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--MODALE CONFERMA ELIMINAZIONE SERIE-->
<div class="modal fade" id="delete-show-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vuoi davvero eliminare la serie?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>L'azione è irreversibile e non potrai recuperare il contenuto, inclusi episodi e commenti.</p>
      </div>
      <div class="modal-footer">
        <form action="/delete-show/" id="delete-show-form" method="post">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Elimina</button>

        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='profile.js')}}"></script>
{% endblock %}