{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<aside class="account-info mb-3 col-2">
  <p class="fw-bold fs-4 text-wrap mb-3">I miei dati <i class="bi bi-person-vcard"></i></p>
  <p class="text-wrap mb-2">{{current_user.name}} {{current_user.surname}}</p>
  <p class="text-wrap mb-2">{{current_user.email}}</p>
  <p class="text-wrap">Ruolo: {{current_user.type}}</p>
</aside>

<main class=" col-6 mb-3" id="show-profile-list">
  {% if current_user.type=='creatore' %}
  <article id="creator-section" class="mb-5">
    <p class="fw-bold fs-4">Le mie serie</p>
    {% for serie in mie_serie %}
    <div class="episode-row row d-flex align-items-center">
      <div class="col-2 justify-content-center">
        <img class="episode-image-profile" src="{{url_for('static',filename=serie.image)}}" alt="immagine di {{serie.title}}">
      </div>
      <div class="col-7">
        <a href="{{url_for('show',show_id=serie.id)}}">{{serie.title}}</a>
      </div>
      <div class="col-3">
        <div class="d-flex flex-row justify-content-end ">
          <a class="btn btn-outline-warning me-2" href="{{url_for('show',show_id=serie.id)}}"><i
            class="bi bi-pencil-square"></i></a>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-show-modal"
          data-bs-showid="{{serie.id}}"><i class="bi bi-trash"></i></button>
        </div>
      </div>
    </div>
    {% endfor%}
    <div class="episode-row d-flex justify-content-center">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#new-show-modal">Nuova <i class="bi bi-plus-square-dotted"></i></button>
    </div>
  </article>
  {%endif %}

  <article id="non-creator-section">
    <p class="fw-bold fs-4">Serie seguite</p>
    {% for serie in serie_seguite %}
    <div class="episode-row row d-flex align-items-center">
      <div class="col-2 justify-content-center">
        <img class="episode-image-profile" src="{{url_for('static',filename=serie.image)}}" alt="immagine di {{serie.title}}">
      </div>
      <div class="col-7">
        <a href="{{url_for('show',show_id=serie.id)}}">{{serie.title}}</a>
      </div>
      <div class="d-flex justify-content-end col-3">
         <a class="btn btn-outline-danger" href="{{url_for('unfollow_a_show', show_id=serie.id)}}">Non
          seguire
        </a>
      </div>
    </div>
      {% endfor%}
      <div class="episode-row d-flex justify-content-center">
       <a class="btn btn-success" href="{{url_for('home')}}">Scopri <i class="bi bi-plus-square-dotted"></i></a>
      </div>
  </article>

</main>


<!--MODALE PER NUOVA SERIE-->
<div class="modal fade" id="new-show-modal"  data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="new-show" enctype="multipart/form-data" method="post">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crea una nuova serie</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Titolo</label>
            <input type="text" required class="form-control" id="title" name="title" >
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Categoria</label>
            <input type="text" required class="form-control" id="category" name="category" >
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descrizione</label>
            <textarea name="description" id="description" required class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Copertina</label>
            <input type="file" required class="form-control" id="image" name="image">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Crea la serie</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--MODALE CONFERMA ELIMINAZIONE SERIE-->
<div class="modal fade" id="delete-show-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vuoi davvero eliminare la serie?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="fw-bold">L'azione è irreversibile e non potrai recuperare il contenuto, inclusi episodi e commenti.</p>
      </div>
      <div class="modal-footer">
        <form action="/delete-show/" id="delete-show-form" method="post">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='profile.js')}}"></script>
{% endblock %}